<html>
    <head>
        <title>Adhock Vehicle count predictor </title>
    </head>
    <body>
        <h1>Enter Details to predict Adhoc Requirement</h1>

        <form action="prediction" method = 'POST'>
            
            <label>Enter State Name</label><input type="text" name='state'><br><br>
            <label>Enter Previous adhock Vehicle count</label><input type="text" name="Adhoc count_oct'21"><br><br>

            <label>Enter Reporting Center </label><input type="text" name='Reporting Center'><br><br>
            <label>Enter Actual Vehicle type</label><input type="text" name='Actual vehicle type'><br><br>
            <input type="submit">  {{pred}}        
           

        </form>
    </body>





</html>